@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;
}

span {
    color: crimson;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: #252525;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: #252525;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: crimson;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: #fff;
    background-color: crimson;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}

.brand h1 span {
    color: crimson;
}

/* Hero */
#hero {
    background-image: url(./img/hero-bg.jpg);
    background-position: top-center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #252525;
    opacity: .7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: #fff;
}

/* End Hero */

/* Skill */
#skills .skills {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px;
}

#skills .skill-top p {
    color: #252525;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

#skills .skill-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#skills .skill-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/hero-bg.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#skills .skill-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}

#skills .skill-item h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#skills .skill-bottom p {
    color: #fff;
    text-align: left;
}
/* End Skills */

/* Projects */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
} 

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #fff;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p {
    color: #fff;
}
/* End Projects */

/* About */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta{
    color: #252525;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
/* End About */

/* Contact */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact .contact-items {
    width: 400px;
}

#contact .contact-item {
    width: 80%;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:  0 0 18px #ccc;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: 0 0 5px 0 #ccc;
}

#contact .icon {
    width: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/* End Contact */

/* Footer */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: #fff;
    font-weight: 100;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    color: #fff;
    font-size: 1.3rem;
}
/* End Footer */

/* Media Query For Tablet */
@media only screen and (min-width:768px){
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.section-title {
        font-size: 6rem;
    }

    /* Hero */
    #hero h1 {
        font-size: 7rem;
    }

    /* Skills */
    #skills .skill-bottom .skill-item {
        flex-basis: 45%;
        margin: 2.5%;
    }

    /* Projects */
    #projects .project-item {
        flex-direction: row;
    }

    #projects .project-item:nth-child(even){
        flex-direction: row;
    }

    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .all-projects .project-info {
        height: 100%;
    }
    
    #projects .all-projects .project-img {
        height: 150%;
    }
    /* End Projects */

    /* About */
    #about .about {
        flex-direction: row;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1 {
        text-align: left;
    }
    /* End About */
}
/* End Media Query For Tablet */